.chatbox {
	margin-right: 10px;
	width: 225px;
	position:fixed;
	z-index: 99999999;
}
.cls_smiley_div{
	padding: 9px;
	max-width: 80%;
}
.cls_smiley_div span{
	padding: 1px;
	cursor: pointer;
}
.btn_smiley{
	cursor: pointer;
	float: right;
	border-radius:9px solid #0089b2;
	padding: 2px;
}

.chatboxhead {/*background-color:#404040;*/padding:7px;color: #ffffff;border-right:1px solid #7cb30a;border-left:1px solid #7cb30a; border-bottom:2px solid #253503;border-radius:4px 4px 0px 0px;background: #0296c0; /* Old browsers */
background: -moz-linear-gradient(top, #0296c0 0%, #0296c0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0296c0), color-stop(100%,#77ac0a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0296c0 0%,#0296c0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0296c0 0%,#0296c0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0296c0 0%,#0296c0 100%); /* IE10+ */
background: linear-gradient(to bottom, #0296c0 0%,#0296c0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cca0c', endColorstr='#77ac0a',GradientType=0 ); /* IE6-9 */}
.chatboxblink {
	/*background-color: #176689;*/
	background-color: #6992FC;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #c3c3c3;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	background-color: #f1f1f1;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
	width: 206px;
	height:34px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #ccc;
	margin: 1px;
	overflow:hidden;resize:none;
}

.chatboxtextareaselected {
	border:1px solid #ACC9FD;
	margin:0;
}

.chatboxmessage {
	margin-left:1em;

}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
	text-align: right;
}

.chatboxmessage_from
{
	text-align: right;
}

.chatboxmessagecontent {
	width:100%;
	padding:7px;
	border-radius:10px;
	line-height: 30px;
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family: Tahoma, Geneva, sans-serif
}

.chatboxtitle {
	float: left;
	font-size:14px;font-family:Tahoma, Geneva, sans-serif;
}

.chatboxhead {
		/*cursor:move !important;*/
}

